@model ISD.Data.EDM.Page

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageContent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
