@model IEnumerable<ISD.Data.EDM.Page>
@{
    ViewBag.Title = "Index";
}
@section styles
{
    @Styles.Render("~/Content/css/datatables/dataTables.bootstrap.css")
    <style>
        hr {
            margin-top: 0 !important;
        }
    </style>
}
@section scripts
{
    @Scripts.Render("~/Scripts/plugins/datatables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/plugins/datatables/dataTables.bootstrap.js")
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#tabPages').dataTable();
        });
    </script>
}

<div class="container content">
    <div class="row blog-page">
        <!-- Left Sidebar -->
        <div class="col-md-3">
            @Html.Partial("_PartialListingSidebar")
        </div>
        <!-- End Left Sidebar -->
        <!-- Right Sidebar -->
        <div class="col-md-9">
            <div class="row margin-bottom-30">
                <div class="col-md-12">
                    <h3 class="box-title">Pages </h3>
                    @Html.ActionLink("Create", "Create")
                    <hr />
                    <table id="tabPages" class="table table-bordered table-hover">
                        <thead>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            Created date
                        </th>
                        <th>
                            Modified date
                        </th>
                        <th>
                            Created by
                        </th>
                        <th>
                            Modified by
                        </th>
                        <th></th>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>

                                <td>
                                    @item.CreatedDatetime.Value.ToString("dd MMM yyyy")
                                </td>
                                <td>
                                    @item.ModifiedDatetime.Value.ToString("dd MMM yyyy")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ModifiedBy)
                                </td>


                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }

                    </table>
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
</div>