@using Microsoft.AspNet.Identity
@using ISD.Util

<ul class="list-group sidebar-nav-v1" id="sidebar-nav">
    <!-- Service -->
    <!-- End Service -->
    @{
        var db = new ISD.Data.EDM.ISDEntities();
        var provID = User.Identity.GetUserId();
        var userRoles = db.AspNetUsers.Where(x => x.Email == User.Identity.Name).FirstOrDefault().AspNetRoles.Select(r => r.Name);
        if (userRoles.Contains(SystemConstants.AdministratorRole))
        {

            <li class="list-group-item list-toggle active">
                <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-service" class="collapsed">Services</a>
                <ul id="collapse-service" class="collapse in" style="height: auto   ;">
                    <li class="active"><a href="@Url.Content("~/Services") "><i class="fa fa-bars"></i>Service list</a></li>
                    <li><a href="@Url.Content("~/Service/create") "><i class="fa fa-chevron-circle-right"></i>Create a service</a></li>
                </ul>
            </li>
            <li class="list-group-item list-toggle">
                <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-clinicians" class="collapsed">Clinicians</a>
                <ul id="collapse-clinicians" class="collapse" style="height: 0px;">
                    <li><a href="@Url.Content("~/Clinicians") "><i class="fa fa-bars"></i>Clinician list</a></li>
                    <li>
                        <a href="@Url.Content("~/clinician/create") ">

                            <i class="fa fa-chevron-circle-right"></i>add a clinician
                        </a>
                    </li>
                </ul>
            </li>
    <li class="list-group-item list-toggle">
        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-pages" class="collapsed">Content</a>
        <ul id="collapse-pages" class="collapse" style="height: 0px;">
            <li><a href="@Url.Content("~/Navigation") "><i c><i class="fa fa-bars"></i>Navigation</a></li>
            <li><a href="@Url.Content("~/Pages") "><i c><i class="fa fa-bars"></i>Pages</a></li>
            <li><a href="@Url.Content("~/Users") "><i c><i class="fa fa-bars"></i>Users</a></li>
        </ul>
    </li>
        }
        else
        {
            <li class="list-group-item list-toggle active">
                <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-service" class="collapsed">Services</a>
                <ul id="collapse-service" class="collapse in" style="height: auto   ;">
                    <li class="active"><a href="@Url.Content("~/Services") "><i class="fa fa-bars"></i>Service list</a></li>
                    <li><a href="@Url.Content("~/Service/create") "><i class="fa fa-chevron-circle-right"></i>Create a service</a></li>
                </ul>
            </li>
            <li class="list-group-item list-toggle">
                <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-clinicians" class="collapsed">Clinicians</a>
                <ul id="collapse-clinicians" class="collapse" style="height: 0px;">
                    <li><a href="@Url.Content("~/Clinicians") "><i class="fa fa-bars"></i>Clinician list</a></li>
                    <li>
                        <a href="@Url.Content("~/clinician/create") ">

                            <i class="fa fa-chevron-circle-right"></i>add a clinician
                        </a>
                    </li>
                </ul>
            </li>
        }
}

</ul>