@using System.Web.UI.WebControls
@model IEnumerable<ISD.Data.EDM.v_ActivityExplorer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .sky-form header {
        padding: 8px 12px !important;
    }

    .sky-form footer {
        padding: 8px 12px !important;
    }

    .search-block {
        padding: 25px 0 28px !important;
    }
</style>
@Styles.Render("~/assets/css/pages/page_search_inner.css")
@Styles.Render("~/assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css")
@{ViewBag.PageSection = "Services";
}
<div class="search-block">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search services">
                <span class="input-group-btn">
                    <button class="btn-u" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container content">
    <div class="row blog-page">
        <!-- Left Sidebar -->

        <div class="col-md-3">
            @using (Html.BeginForm("Search", "Service", FormMethod.Post, new { @class = " sky-form" }))
            {
                <header>Filter by</header>
                <div class="row">
                    <div class="col col-md-12">
                        <div class="panel-group acc-v1" id="accordion-1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#Filter-Categories">
                                            Categories
                                        </a>
                                    </h4>
                                </div>
                                <div id="Filter-Categories" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">

                                            @{
                var categories = new ISD.DA.DataAccessComponent().RetrieveCategories();
                foreach (var cat in categories.Where((x => x.Level == 0)))
                {
                                            <div class="col-md-12">
                                                @cat.Name
                                            </div>
                    foreach (var subCat in categories.Where((x => x.Level == 1)))
                    {
                        if (subCat.Level1ParentID == cat.ID && subCat.Name != "Other")
                        {
                                            <div class="col col-6">
                                                <label class="checkbox"><input type="checkbox" name="SelectedCategory" value="@subCat.ID"><i></i><span class="color-blue">@subCat.Name</span></label>
                                            </div>

                        }
                        var subOther = categories.Where((x => x.Level1ParentID == cat.ID && x.Name == "Other")).FirstOrDefault();
                        if (subOther != null)
                        {
                                            <div class="col col-6">
                                                <label class="checkbox"><input type="checkbox" name="SelectedCategory" value="@subOther.ID"><i></i>@subOther.Name</label>
                                            </div>
                        }
                    }
                }
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#Filter-Tree">
                                            Category Tree
                                        </a>
                                    </h4>
                                </div>
                                <div id="Filter-Tree" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="tree well">
                                                <ul>
                                                    @{


                foreach (var cat in categories.Where((x => x.Level == 0)))
                {
                    <li>
                        <span><i class="icon-folder-open"></i> @cat.Name</span> <a href=""></a>
                        @{
                    if (categories.Where((x => x.Level == 1)).Count() != 0)
                    {
                        <ul>
                            @{
                        foreach (var subCat in categories.Where((x => x.Level == 1)))
                        {
                            if (subCat.Level1ParentID == cat.ID && subCat.Name != "Other")
                            {
                                <li>
                                    <span><i class="fa-asterisk"></i> <a href="" class="color-blue">@subCat.Name</a></span> 
                                </li>
                                }
                                var subOther = categories.Where((x => x.Level1ParentID == cat.ID && x.Name == "Other")).FirstOrDefault();
                                if (subOther != null)
                                {
                                     <li>
                                    <span><i class="fa-asterisk"></i> <a href="">@subOther.Name</a></span> 
                                </li>
                               
                                }
                                }
                            }
                        </ul>
                    }
                        }
                    </li>

                }
                                                    }
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#Filter-Suburb">
                                            Clinic
                                        </a>
                                    </h4>
                                </div>
                                <div id="Filter-Suburb" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="select">
                                                    <select>
                                                        <option value="0">Choose Clinic</option>
                                                        @{
                var clinics = new ISD.Data.EDM.ISDEntities().Clinic.ToList();
                foreach (var clinic in clinics)
                {
                    <option value="@clinic.ID">@clinic.Name</option>
                }
                                                        }
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <button type="submit" class="btn-u">Update</button>
                </footer>
            }





        </div>

        <!-- Right Sidebar -->
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 text-left">
                    Showing: 1 - 5 of 25 services
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-left">
                    <label class="select">
                        <select name="gender">
                            <option disabled="" value="0" selected="">Sort By</option>
                            <option value="1">Newly listed</option>
                            <option value="2">Expiry date</option>
                            <option value="3">Title: A - Z</option>
                            <option value="4">Title: Z - Av</option>
                            <option value="5">Cost: Free - Paid</option>
                            <option value="6">Cost: Paid - Free</option>
                        </select>
                        <i></i>
                    </label>
                </div><div class="col-md-6 text-right">
                    <label class="select">
                        <select name="gender">
                            <option disabled="" value="0" selected="">Show</option>
                            <option value="1">5</option>
                            <option value="2">10</option>
                            <option value="3">25</option>
                            <option value="4">50</option>
                        </select>
                        <i></i>
                    </label>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="funny-boxes funny-boxes-top-sea ">

                    <div class="row">
                        <div class="col-md-4 funny-boxes-img">
                            @{
                int imageinfo = new ISD.Data.EDM.ISDEntities().ActivityImage.Where(x => x.ActivityID == item.ID).Select(x => x.ID).FirstOrDefault();
                var image = new ISD.Data.EDM.ISDEntities().ActivityImageDetail.Where(x => x.ActivityImageID == imageinfo).FirstOrDefault();
                if (image == null)
                {
                    <img src="@Url.Content("~/Assets/img/demo.jpg")" class="img-responsive" />
                }
                if (image != null)
                {
                    <img src="~/ImageHandler.ashx?PID=@image.ID" class="img-responsive" />
                }
                            }

                            <ul class="list-unstyled">
                                <li><i class="fa fa-briefcase"></i>@item.ProviderName</li>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    @item.Address,
                                    @item.Suburb
                                    @item.StateName, @item.PostCode

                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h2>
                                @Html.ActionLink(item.Name, "Index", "Service", new { id = item.ID }, "")
                            </h2>
                            <p>
                                @Html.Label("", item.FullDescription.Length > 250 ? item.FullDescription.Substring(0, 250) : item.FullDescription)
                                @Html.ActionLink("Read more", item.Name.Replace(" ", string.Empty), "Service")
                            </p>
                            <p>
                                <uc1:ScheduleViewerUC runat="server" ID="ScheduleViewerUC" />
                            </p>
                            <p>
                                <asp:Image ID="imgStatus" runat="server" class="img-responsive right" ImageUrl="~/Assets/img/demo.jpg" />
                                <asp:Label ID="lblExpiryDate" runat="server" CssClass="right" Text="Expiry on"></asp:Label>
                                <asp:Label ID="lblStatus" runat="server" Text="" CssClass="right"></asp:Label>
                                <asp:Label ID="lblType" runat="server" Text="" CssClass="right"></asp:Label>
                            </p>
                        </div>
                    </div>
                </div>
            }
            <div class="row">

                <div class="col-md-6 text-left">
                    Showing: 1 - 5 of 25 services
                </div><div class="col-md-6 text-right">
                    <ul class="pagination">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>

            </div>


            <!-- Bordered Funny Boxes -->
        </div>
        <!-- End Right Sidebar -->
    </div>
</div>

<script>
    $(function () {
        $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
        $('.tree li.parent_li > span').on('click', function (e) {
            var children = $(this).parent('li.parent_li').find(' > ul > li');
            if (children.is(":visible")) {
                children.hide('fast');
                $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
            } else {
                children.show('fast');
                $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
            }
            e.stopPropagation();
        });
    });
</script>

<style>
    
    .tree {
        min-height: 20px;
        
        margin-bottom: 20px;
        background-color: #fbfbfb;
        border: 1px solid #999;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    }

        .tree li {
            list-style-type: none;
            margin: 0;
            padding: 10px 5px 0 5px;
            position: relative;
        }

            .tree li::before, .tree li::after {
                content: '';
                left: -20px;
                position: absolute;
                right: auto;
            }

            .tree li::before {
                border-left: 1px solid #999;
                bottom: 50px;
                height: 100%;
                top: 0;
                width: 1px;
            }

            .tree li::after {
                border-top: 1px solid #999;
                height: 20px;
                top: 25px;
                width: 25px;
            }

            .tree li span {
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border: 1px solid #999;
                border-radius: 5px;
                display: inline-block;
                padding: 3px 8px;
                text-decoration: none;
            }

            .tree li.parent_li > span {
                cursor: pointer;
            }

        .tree > ul > li::before, .tree > ul > li::after {
            border: 0;
        }

        .tree li:last-child::before {
            height: 30px;
        }

        .tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
            background: #eee;
            border: 1px solid #94a0b4;
            color: #000;
        }
</style>