@using System.Web.UI.WebControls
@{
    @model  ISD.Application.User.MVC.Models.ServicesFinderModel
    ViewBag.Title = "Find a Service";
    ViewBag.PageSection = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var clinics = new ISD.Data.EDM.ISDEntities().Clinic.AsEnumerable();
    var categories = new ISD.Data.EDM.ISDEntities().v_CategoryExplorer.AsEnumerable();
}
<style>
    .sky-form header {
        padding: 8px 12px !important;
    }

    .sky-form footer {
        padding: 8px 12px !important;
    }

    .search-block {
        padding: 25px 0 28px !important;
    }
</style>
@Styles.Render("~/assets/css/pages/page_search_inner.css")
@Styles.Render("~/assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css")

<link href="~/Scripts/jsTree3/themes/default/style.css" rel="stylesheet" />
<script src="~/Scripts/jsTree3/jstree.js"></script>

@{
    if (!string.IsNullOrEmpty(Request.QueryString[ISD.Util.SystemConstants.selectedCategory]))
    {
        Model.selectedCategory = Request.QueryString[ISD.Util.SystemConstants.selectedCategory];
        @Html.HiddenFor(x => x.selectedCategory);
    } if (!string.IsNullOrEmpty(Request.QueryString[ISD.Util.SystemConstants.selectedClinic]))
    {
        Model.selectedClinic = Request.QueryString[ISD.Util.SystemConstants.selectedClinic];
        @Html.HiddenFor(x => x.selectedClinic);
    } if (!string.IsNullOrEmpty(Request.QueryString[ISD.Util.SystemConstants.searchQuery]))
    {
        Model.searchQuery = Request.QueryString[ISD.Util.SystemConstants.searchQuery];
        //@Html.HiddenFor(x => x.searchQuery);
    }
    if (!string.IsNullOrEmpty(Request.QueryString[ISD.Util.SystemConstants.page]))
    {
        Model.page = Request.QueryString[ISD.Util.SystemConstants.page];
        @Html.HiddenFor(x => x.page);
    }
    if (!string.IsNullOrEmpty(Request.QueryString[ISD.Util.SystemConstants.PageSize]))
    {
        Model.pageSize = Request.QueryString[ISD.Util.SystemConstants.PageSize];
        @Html.HiddenFor(x => x.pageSize);
    }
}

<div class="search-block">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="input-group">
                @Html.TextBoxFor(x => x.searchQuery, new { @class = "form-control", placeholder = "Search services" })

                <span class="input-group-btn">
                    <button id="btnSearch" class="btn-u" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row blog-page">
        <!-- Left Sidebar -->


        <div class="col-md-3">
            <header>Filter by</header>
            <div class="row">
                <div class="col col-md-12">
                    <div class="panel-group acc-v1" id="accordion-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#Filter-Tree">
                                        Categories
                                    </a>
                                </h4>
                            </div>
                            <div id="Filter-Tree" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="row">
                                        <div id="CatTree">
                                            @*<ul>
                                                                                                                                                        @{


                                                            foreach (var cat in categories.Where((x => x.Level == 0)))
                                                            {
                                                                <li name="Categories" value="@cat.ID" data-jstree='{"icon":"fa fa-folder"}'>
                                                                    @cat.Name
                                                                    @{
                                                                if (categories.Where((x => x.Level == 1)).Count() != 0)
                                                                {
                                                                    <ul>
                                                                        @{
                                                                    foreach (var subCat in categories.Where((x => x.Level == 1)))
                                                                    {
                                                                        if (subCat.Level1ParentID == cat.ID && subCat.Name != "Other")
                                                                        {
                                                                            <li name="Categories" value="@subCat.ID" data-jstree='{" icon":"fa fa-asterisk"}'>
                                                                                @subCat.Name
                                                                            </li>
                                                                        }
                                                                        var subOther = categories.Where((x => x.Level1ParentID == cat.ID && x.Name == "Other")).FirstOrDefault();
                                                                        if (subOther != null)
                                                                        {
                                                                            <li name="Categories" value="@subCat.ID" data-jstree='{"icon":"fa fa-asterisk"}'>
                                                                                @subOther.Name
                                                                            </li>
                                                                        }
                                                                    }
                                                }
                                                                    </ul>
                                                                }
                                                                    }
                                                                </li>

                                                            }
                                                                                                                                                        }
                                                                                                                                                    </ul>*@

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#Filter-Suburb">
                                        Clinic
                                    </a>
                                </h4>
                            </div>
                            <div id="Filter-Suburb" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">

                                    <div class="row">
                                        <section class="col col-md-12">
                                            <label class="select select-multiple">
                                                @Html.ListBox("clinicList", new MultiSelectList(clinics, "ID", "Name", Model.selectedClinic))
                                                @Html.ValidationMessageFor(model => model.selectedClinic, "", new { @class = "text-danger" })
                                            </label><div class="note"><strong>Note:</strong> hold down the 'ctrl' button to select multiple options.</div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <button id="filterBtn" type="submit" class="btn-u">Update</button>
                @Html.ActionLink("Reset","index",null,new{@class="btn-u"})
            </footer>
        </div>

        <!-- Right Sidebar -->
        <div id="ServiceList" class="col-md-9">

        </div>
        <!-- End Right Sidebar -->
    </div>
</div>
<script>
    var query = "";
    var page = $("#page").val();
    var pageSize = $("#pageSize").val();
    var category = $("#selectedCategory").val()
    var search = $("#searchQuery").val()
    var clinic = $("#selectedClinic").val()

    if (page) {
        var par = "page=" + page
        if (query)
            query = query + '&' + par
        else
            query = query + par
    }
    if (page) {
        var par = "pageSize=" + pageSize
        if (query)
            query = query + '&' + par
        else
            query = query + par
    }
    if (category) {
        var par = "category=" + category
        if (query)
            query = query + '&' + par
        else
            query = query + par
    }
    if (search) {
        var par = "search=" + search
        if (query)
            query = query + '&' + par
        else
            query = query + par
    }
    if (clinic) {
        var par = "clinic=" + clinic
        if (query)
            query = query + '&' + par
        else
            query = query + par
    }

    var url = "@Url.Content("~/Services/GetServices")"
    var catUrl = "@Url.Content("~/Services/GetCategoriesJson")";
    if (query)
        url = url + '?' + query

    $.ajax({
        url: url,
        cache: false,
        type: "GET",
        success: function (data) {
            $('#ServiceList').html(data);
            /* little fade in effect */
            $('#ServiceList').fadeIn('fast');
        },
        error: function (reponse) {
            alert("error : " + reponse);
        }
    });

    if (category) {
        $.getJSON(catUrl + "?selected=" + category, null, function (data) {
            $('#CatTree').jstree({
                'core': {
                    'data': data
                }
            });
        });
    }
    else {
        $.getJSON(catUrl, null, function (data) {
            $('#CatTree').jstree({
                'core': {
                    'data': data
                }
            });
        });
    }
    $("#filterBtn").click(function () {
        var category = $('#CatTree').jstree('get_selected').toString()
        var search = $('#searchQuery').val()
        var clinic = $("select[id='clinicList'] option:selected").val()
        var url = "@Url.Content("~/Services/GetServices")"
        $.ajax({
            url: url,
            cache: false,
            type: "GET",
            data: {
                category: category,
                search: search,
                clinic: clinic
            }, success: function (data) {
                $('#ServiceList').html(data);
                $('#ServiceList').fadeIn('fast');
            },
            error: function (response) {
                $('#ServiceList').html(response);
            }
        })
    });
    $("#btnSearch").click(function () {

        var searchQ = "search=" + $('#searchQuery').val();
        var Query = searchQ;

        var url = "/Services/GetServices/?" + Query.toString();

        $.ajax({
            url: url,
            cache: false,
            type: "GET",
            success: function (data) {
                $('#ServiceList').html(data);
                /* little fade in effect */
                $('#ServiceList').fadeIn('fast');
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    });
</script>