@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Find a Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var clinics = new ISD.Data.EDM.ISDEntities().Clinic.AsEnumerable();
}
<style>
    .sky-form header {
        padding: 8px 12px !important;
    }

    .sky-form footer {
        padding: 8px 12px !important;
    }

    .search-block {
        padding: 25px 0 28px !important;
    }
</style>
@Styles.Render("~/assets/css/pages/page_search_inner.css")
@Styles.Render("~/assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css")

<link href="~/Scripts/jsTree3/themes/default/style.css" rel="stylesheet" />
<script src="~/Scripts/jsTree3/jstree.js"></script>


@{ViewBag.PageSection = "Services";
}

<div class="search-block">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="input-group">
                <input id="txtSearchServices" name="txtSearchServices" type="text" class="form-control" placeholder="Search services">
                <span class="input-group-btn">
                    <button id="btnSearch" class="btn-u" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row blog-page">
        <!-- Left Sidebar -->
        @using (Html.BeginForm("index", "Services", FormMethod.Get))
        {
            <input id="hdnCategory" name="category"  type="hidden" />
            <input id="hdnClinic" name="clinic"  type="hidden" />
            
        <div class="col-md-3">
            <header>Filter by</header>
            <div class="row">
                <div class="col col-md-12">
                    <div class="panel-group acc-v1" id="accordion-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#Filter-Tree">
                                        Category Tree
                                    </a>
                                </h4>
                            </div>
                            <div id="Filter-Tree" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="row">
                                        <div id="CatTree">
                                            @*<ul>
                                                                                                    @{


                                                                foreach (var cat in categories.Where((x => x.Level == 0)))
                                                                {
                                                                    <li data-jstree='{"icon":"fa fa-folder"}'>
                                                                        @cat.Name
                                                                        @{
                                                                    if (categories.Where((x => x.Level == 1)).Count() != 0)
                                                                    {
                                                                        <ul>
                                                                            @{
                                                                        foreach (var subCat in categories.Where((x => x.Level == 1)))
                                                                        {
                                                                            if (subCat.Level1ParentID == cat.ID && subCat.Name != "Other")
                                                                            {
                                                                                <li data-jstree='{"icon":"fa fa-asterisk"}'>
                                                                                    @subCat.Name
                                                                                </li>
                                                                            }
                                                                            var subOther = categories.Where((x => x.Level1ParentID == cat.ID && x.Name == "Other")).FirstOrDefault();
                                                                            if (subOther != null)
                                                                            {
                                                                                <li data-jstree='{"icon":"fa fa-asterisk"}'>
                                                                                    @subOther.Name

                                                                                </li>
                                                                            }
                                                                        }
                                                }
                                                                        </ul>
                                                                    }
                                                                        }
                                                                    </li>

                                                                }
                                                                                                    }
                                                                                                </ul>*@

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#Filter-Suburb">
                                        Clinic
                                    </a>
                                </h4>
                            </div>
                            <div id="Filter-Suburb" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="select">
                                                <select id="clinicList">
                                                    <option value="0">Choose Clinic</option>
                                                    @{
                                                        foreach (var clinic in clinics)
                                                        {
                                                    <option value="@clinic.ID">@clinic.Name</option>
                                                        }
                                                    }
                                                </select>
                                                <i></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <button id="filterBtn" type="submit" class="btn-u">Update</button>
            </footer>
        </div>
        }
        <!-- Right Sidebar -->
        <div id="ServiceList" class="col-md-9">

        </div>
        <!-- End Right Sidebar -->
    </div>
</div>
<script>
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    var query = "";
    
    var searchQ = "search=" + $('#txtSearchServices').val();
    if (getParameterByName('page')) {
        var par = "page=" + getParameterByName('page');
        if (query)
            query = query + '&' + par
        else
            query = query + par
    }
    if (getParameterByName('category')) {
        var cat = "category=" + getParameterByName('category');
        if (query)
            query = query + '&' + cat
        else
            query = query + cat
    }
    if (searchQ) {
        if (query)
            query = query + '&' + searchQ
        else
            query = query + searchQ
    }
    if (getParameterByName('clinic')) {
        var clinic = "clinic=" + getParameterByName('clinic');

        if (query)
            query = query + '&' + clinic
        else
            query = query + clinic
    }

    var url = "/Services/GetServices";
    if (query)
        url = url + '?' + query

    $.ajax({
        url: url,
        cache: false,
        type: "GET",
        success: function (data) {
            $('#ServiceList').html(data);
            /* little fade in effect */
            $('#ServiceList').fadeIn('fast');
        },
        error: function (reponse) {
            alert("error : " + reponse);
        }
    });

    if (getParameterByName('category'))
    {

    }
    else
    {

    }
    if (getParameterByName("category"))
    {
        $.getJSON("/Services/GetCategoriesJson?selected=" + getParameterByName("category"), null, function (data) {
            $('#CatTree').jstree({
                'core': {
                    'data': data
                }
            });
        });
    }
    else
    {
        $.getJSON("/Services/GetCategoriesJson", null, function (data) {
            $('#CatTree').jstree({
                'core': {
                    'data': data
                }
            });
        });
    }

    $("#filterBtn").click(function () {
        hdnCategory.value = $('#CatTree').jstree('get_selected');
        hdnClinic.value =$("select[id='clinicList'] option:selected").val()
    });
    $("#btnSearch").click(function () {

        var searchQ = "search=" + $('#txtSearchServices').val();
        var Query = searchQ;

        var url = "/Services/GetServices/?" + Query.toString();

        $.ajax({
            url: url,
            cache: false,
            type: "GET",
            success: function (data) {
                $('#ServiceList').html(data);
                /* little fade in effect */
                $('#ServiceList').fadeIn('fast');
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    });
</script>