@model ISD.Application.provider.MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Service Provider registration";
}

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Register a new account</h1>
        <ul class="pull-right breadcrumb">
            <li>
                <a href="@Url.Content("~")">Home</a>
            </li>

            <li><a href="">Account</a></li>
            <li class="active">Register</li>
        </ul>
    </div>
    <!--/container-->
</div>

<style>
    .sky-form a{
     color:#72c02c !important
    }
</style>
@Styles.Render("~/assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css")
@Styles.Render("~/assets/css/pages/page_log_reg_v1.css")
<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @Class = "reg-page sky-form", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="reg-header">
                    <h2>Register a new account</h2>
                    <p>Already Signed Up? Click <a href="login" class="color-green">Sign In</a> to login your account.</p>
                </div>
                <div class="margin-bottom-20">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Address", @type = "email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <section class="col-sm-6  margin-bottom-20">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </section>
                    <section class="col-sm-6">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </section>
                </div>
                <div class="margin-bottom-20">
                    @Html.EditorFor(x => x.ProviderName, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Provider name" } })
                    @Html.ValidationMessageFor(x => x.ProviderName, "", new { @class = "text-danger" })
                </div>
                <div class="margin-bottom-20">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Provider Address" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <section class="col col-md-4 margin-bottom-20">
                        <label class="select">
                            @Html.EditorFor(model => model.Suburb, new { htmlAttributes = new { @class = "form-control", @placeholder = "Suburb" } })
                            <i></i>
                        </label>
                        @Html.ValidationMessageFor(model => model.Suburb, "", new { @class = "text-danger" })
                    </section>
                    <section class="col col-md-4">
                        <label class="select">
                            @Html.DropDownListFor(model => model.StateID,
                         new SelectList(Model.StatesList,
                             "value", "text",
                             Model.StatesList.First()))
                            <i></i>
                        </label>
                        @Html.ValidationMessageFor(model => model.StateID, "", new { @class = "text-danger" })
                    </section>
                    <section class="col col-md-4">
                        <label class="input">
                            @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Post code", @maxlength = "4", @onkeypress = "return CheckNumber(event)" } })
                        </label>
                        @Html.ValidationMessageFor(model => model.PostCode, "", new { @class = "text-danger" })
                    </section>
                </div>
                <hr>

                <div class="row">
                    <div class="col-lg-6">
                            @Html.CheckBoxFor(x => x.Aggreement)<i></i> I read <a href="page_terms.html" class="color-green">Terms and Conditions</a>
                    
                    </div>
                    <div class="col-lg-6 text-right">
                        <button class="btn-u" type="submit">Register</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>