@model ISD.Data.EDM.Page

@{
    ViewBag.Title = @Model.Title;
    ViewBag.Keywords = @Model.MetaTag;
    ViewBag.Description = @Model.MetaDescription;
}
<style>
    .blog-post-tags {
        border-top: none !important;
    }
</style>
@Styles.Render("~/assets/css/pages/blog.css")
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">
            @Html.DisplayFor(model => model.Title)
        </h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Page</a></li>
            <li class="active">@Html.DisplayFor(model => model.Title)</li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row blog-page blog-item">
        <!-- Left Sidebar -->
        <div class="col-md-12 md-margin-bottom-60">
            <!--Blog Post-->
            <div class="blog margin-bottom-40">
                <div class="blog-post-tags">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-calendar"></i> @Model.ModifiedDatetime.Value.ToString("d MMM yyyy")</li>

                    </ul>
                    @if (!string.IsNullOrEmpty(Model.Tag))
                    {
                        <ul class="list-unstyled list-inline blog-tags">
                            <li>
                                <i class="fa fa-tags"></i>
                                @{
                        string[] tags = Model.Tag.Split('|');
                        foreach (var tag in tags)
                        {  <a href="#">@tag</a>
                        }
                                }
                            </li>
                        </ul>
                    }
                </div>
                <div id="pageContent">@Html.Raw(Model.PageContent)</div>
            </div>
            <!--End Blog Post-->
        </div>
        <!-- End Left Sidebar -->

    </div><!--/row-->
</div>

