@model ReferencingSystem.Model.UserProfiles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserProfiles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityAdmin.ConfirmationToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityAdmin.ConfirmationToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgreeToTerms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgreeToTerms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefereeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefereeType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
