@using ISD.Util
@model IEnumerable<ISD.Data.EDM.v_ProviderClinicians>

@{
    ViewBag.Title = "Index";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Clinicians List</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Clinicians</li>
        </ul>
    </div><!--/container-->
</div>
<div class="container content">
    <p>
        @Html.ActionLink("Create New", "Create","clinician",null,new {@class="btn-u"})
    </p>
    <div class="panel panel-default margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-user"></i> Clinicians</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Clinic</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Private</th>
                        <th>Days</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@item.Location</td>
                            <td>@item.Phone</td>
                            <td>@item.Email</td>
                            @if (item.Type == (int)SystemConstants.CliniciansType.Private)
                            {
                                <td>Yes</td>
                            }
                            @if (item.Type == (int)SystemConstants.CliniciansType.Public)
                            {
                                <td>No</td>
                            }

                            @{
                        string days = "";
                        if (item.TimetableType == 1)
                        {

                            if (item.OnMonday ?? false)
                            {
                                days += "Monday,";
                            }
                            if (item.OnTuesday ?? false)
                            {
                                days += " Tuesday,";
                            }
                            if (item.OnWednesday ?? false)
                            {
                                days += " Wednesday,";
                            }
                            if (item.OnThursday ?? false)
                            {
                                days += " Thursday,";
                            }
                            if (item.OnFriday ?? false)
                            {
                                days += " Friday,";
                            }
                            if (item.OnSaturday ?? false)
                            {
                                days += " Saturday,";
                            }
                            if (item.OnSunday ?? false)
                            {
                                days += " Sunday,";
                            }

                            days = days.Remove(days.Length - 1, 1);
                            int index = days.LastIndexOf(",");
                            if (index != null)
                            {
                                days = days.Remove(index, 1);
                                days = days.Insert(index, " and");
                            }
                        }
                            }
                           
                            <td>@days</td>

                            <td>
                                <a class="btn btn-warning btn-xs" href="@Url.Action("Edit", "Clinician", new { id = item.ID })"><i class="fa fa-pencil"></i>Edit</a>
                                <a class="btn btn-danger btn-xs" href="@Url.Action("Delete", "Clinician", new { id = item.ID })"><i class="fa fa-trash-o"></i>Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
