@using System.Web.UI.WebControls
@model IEnumerable<ISD.Data.EDM.v_ActivityExplorer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var state = new ISD.Data.EDM.ISDEntities().State.AsEnumerable();
    var clinic = new ISD.Data.EDM.ISDEntities().Clinic.AsEnumerable();
    var ACExplorer = new ISD.Data.EDM.ISDEntities().v_ActivityClinicianExplorer.AsEnumerable();
}

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Services management</h1>
        <ul class="pull-right breadcrumb">
            <li>
                <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~">Home</asp:HyperLink>
            </li>
            <li class="active">Services management</li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="row blog-page">
        <!-- Left Sidebar -->
        <div class="col-md-3">
            <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
                <!-- Service -->
                <li class="list-group-item list-toggle active">
                    <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-service" class="collapsed">Services</a>
                    <ul id="collapse-service" class="collapse in" style="height: auto   ;">
                        <li class="active"><a href="@Url.Content("~/Services") "><i class="fa fa-bars"></i>Service list</a></li>
                        <li><a href="@Url.Content("~/Service/create") "><i class="fa fa-chevron-circle-right"></i></i>Create a service</a></li>
                    </ul>
                </li>
                <li class="list-group-item list-toggle">
                    <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-clinicians" class="collapsed">Clinicians</a>
                    <ul id="collapse-clinicians" class="collapse" style="height: 0px;">
                        <li><a href="@Url.Content("~/Clinicians") "><i class="fa fa-bars"></i>Clinician list</a></li>
                        <li><a href="@Url.Content("~/clinician/create") "><i class="fa fa-chevron-circle-right"></i></i>add a clinician</a></li>



                    </ul>
                </li>
                <!-- End Service -->
            </ul>
        </div>
        <!-- End Left Sidebar -->
        <!-- Right Sidebar -->
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 text-left">
                    Showing: 1 - 5 of 25 services
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-left">
                    
                </div>
                <div class="col-md-6 text-right">
                    <label class="select">
                        <select name="gender">
                            <option disabled="" value="0" selected="">Show</option>
                            <option value="1">5</option>
                            <option value="2">10</option>
                            <option value="3">25</option>
                            <option value="4">50</option>
                        </select>
                        <i></i>
                    </label>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="funny-boxes funny-boxes-top-sea ">
                    <div class="row" style="text-align: right; float: right">
                        <div class="col-md-12">
                            @Html.ActionLink("Edit", "edit", "service", new { id = item.ID }, new { @class = "btn btn-warning btn-sm right" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 funny-boxes-img">
                            @{
                int imageinfo = new ISD.Data.EDM.ISDEntities().ActivityImage.Where(x => x.ActivityID == item.ID).Select(x => x.ID).FirstOrDefault();
                var image = new ISD.Data.EDM.ISDEntities().ActivityImageDetail.Where(x => x.ActivityImageID == imageinfo).FirstOrDefault();
                if (image == null)
                {
                    <img src="@Url.Content("~/Assets/img/demo.jpg")" class="img-responsive" />
                }
                if (image != null)
                {
                    <img src="~/ImageHandler.ashx?PID=@image.ID" class="img-responsive" />
                }
                            }
                        </div>
                        <div class="col-md-8 ">
                            <h2>
                                @Html.ActionLink(item.Name, "Index", "Service", new { id = item.ID }, "")
                            </h2>
                            <p>
                                @Html.Label("", item.FullDescription.Length > 250 ? item.FullDescription.Substring(0, 250) : item.FullDescription)
                                @Html.ActionLink("Read more", item.Name.Replace(" ", string.Empty), "Service")
                            </p>
                            <p>
                                <uc1:ScheduleViewerUC runat="server" ID="ScheduleViewerUC" />
                            </p>
                            <p>
                                <asp:Image ID="imgStatus" runat="server" class="img-responsive right" ImageUrl="~/Assets/img/demo.jpg" />
                                <asp:Label ID="lblExpiryDate" runat="server" CssClass="right" Text="Expiry on"></asp:Label>
                                <asp:Label ID="lblStatus" runat="server" Text="" CssClass="right"></asp:Label>
                                <asp:Label ID="lblType" runat="server" Text="" CssClass="right"></asp:Label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 funny-boxes-img">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-briefcase"></i>@item.ProviderName</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <strong>Available at</strong>
                            <br />
                            @foreach (var ap in ACExplorer.Where(x => x.ActivityID == item.ID))
                            {
                                if (ap.LocationID != null)
                                {
                                    var cInfo = clinic.Where(c => c.ID == ap.LocationID.Value).FirstOrDefault();

                            <button class="btn btn-u btn-sm" data-toggle="modal" data-target="#modal-@ap.ID">@cInfo.Name</button>
                            <div id="modal-@ap.ID" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                            <h4 id="myLargeModalLabel" class="modal-title">@cInfo.Name</h4>
                                        </div>
                                        <div class="modal-body">
                                            <strong>Address</strong>
                                            <p>
                                                @cInfo.Address
                                                <br />
                                                @cInfo.Suburb
                                                @state.Where(s=>s.ID==cInfo.StateID).Select(s=>s.StateName).FirstOrDefault(), @cInfo.PostCode
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-6 text-left">
                    Showing: 1 - 5 of 25 services
                </div><div class="col-md-6 text-right">
                    <ul class="pagination">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
            <!-- Bordered Funny Boxes -->
        </div>
        <!-- End Right Sidebar -->
    </div>
</div>
